
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
                <title>Dom Elememts</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="style.css">
        </head>


	<body>
                <script type="importmap">
			{
				"imports": {
					"three": "/build/three.module.js",
					"three/addons/": "/jsm/"
				}
			}
		</script>

                <script type="module">

			import * as THREE from 'three';

			import TWEEN from 'three/addons/libs/tween.module.js';
			import { TrackballControls } from 'three/addons/controls/TrackballControls.js';
			import { CSS3DRenderer, CSS3DObject } from 'three/addons/renderers/CSS3DRenderer.js';
                </script>


                
                <script src="https://unpkg.com/three@0.118.0/build/three.js"></script>
                <!-- The Search 
                <script src="canvas-r1.js"></script>
                <script src="text-plane-r0.js"></script>
                -->	

                        
        <div id="topBar">
                <!-- The Search -->
                <div class="example" id="searchBar">
                        <input type="text" placeholder="Search" value="https://junebee66.github.io/3D-Web/dom_elements/basic_web/basic.html" name="search" id="searchText">
                        <button type="submit" id="changeBtn"><i class="fa fa-search"></i></button>
                </div>

                        <!-- change the URL for your website after name= on the next line -->
                        <iframe src="http://localhost:12345/getdata?name=https://junebee66.github.io/3D-Web/dom_elements/basic_web/basic.html" title="basic web" id="iframe1"></iframe>
                        <iframe src="http://localhost:12345/getdata?name=https://junebee66.github.io/3D-Web/dom_elements/basic_web/basic.html" title="basic web" id="looking"></iframe>
                        
                        
        </div>

                <div id="cssRender"></div>
                <div id="webglRender"></div>

        <script type="module" src="script1.js"></script>


	</body>
</html>
