
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
                <title>Dom Elememts</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="style.css">
        </head>


	<body>
                <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.min.js'></script></script>
                <script src="three.min.js"></script>
                <script src="canvas-r1.js"></script>
                <script src="text-plane-r0.js"></script>
                
        
        <div id="topBar">
                <!-- The Search -->
                <div class="example" id="searchBar">
                        <input type="text" placeholder="Search" value="https://example.com/" name="search" id="searchText">
                        <button type="submit" id="changeBtn"><i class="fa fa-search"></i></button>
                </div>

                        <!-- change the URL for your website after name= on the next line -->
                        <iframe src="http://localhost:12345/getdata?name=https://example.com/" title="basic web" id="iframe1"></iframe>
                        
        </div>

                <div id="bottomSection">

        </div>



                <!-- <script type="module" src="three.min.js"></script>
        <script type="module" src="canvas-r1.js"></script>
        <script type="module" src="text-plane-r0.js"></script> -->
        <script type="module" src="script1.js"></script>


	</body>
</html>
