body{
    display: block;
    width:100vw;
    height:100vw;
    overflow: 'hidden';
    
}

#iframe1{
    pointer-events: none;
    scroll-behavior: none;
    overflow: hidden;  
}


#topBar {
    width: 100vw;
    height:35vh;
    margin-top: 3vh;
    /* padding-top: 5vh;
    padding-left: 5vh; */
    display:flex;
}

#searchBar {
    width: 50%;
    height: 30%;
    margin-top:10vh;
    margin-left: 3vw;

}


#searchText {
    width: 80%;
    height: 100%;
    
}

#searchButton {
    position: relative;
    top:0px;

    width: 10%;
    height: 100%;
    padding-block: 0px;
    padding-inline: 0px;
}

#changeBtn {
    position: relative;
    top:0px;

    width: 10%;
    height: 100%;
    padding-block: 0px;
    padding-inline: 0px;
}

#looking {
    position: absolute;
    top:0px;
    right:0;
    width: 40%;
    height:30%;
    padding-right: 3vw;

}

#webglRender{
    position: absolute;
    /* left:0px;
    top:0px; */
    left:0px;
    top:300px;
    width: 100%;
    height:100%;
    overflow: hidden; 
/* turn this off to allow orbit control */
    /* pointer-events: none; */
}

.noScroll {
    pointer-events: none;
    transform: none;
    overflow: hidden; 
}

#cssRender{
    position: absolute;
    pointer-events: none;
    left:0px;
    top:300px;
    width: 100%;
    height:100%;
    pointer-events: none;
    overflow: hidden; 
/* 
    --c1: #122538;
    --c2: #112233;
    background: repeating-linear-gradient(
        -45deg,
        var(--c1),
        var(--c1) 20px,
        var(--c2) 20px,
        var(--c2) 40px
    ); */
}
