body{
    display: block;
    width:100vw;
    height:100vw;
    /* overflow: 'hidden'; */
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: hidden;
    
}

h1 { font-family: "Helvetica Neue", 
    Helvetica, Arial, sans-serif; 
    font-size: 6vh;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: auto;
    padding-left: 2%; 
    width: 30%;
} 

#iframe1{
    pointer-events: none;
    scroll-behavior: none;
    width:30%;
    /* width: 30%;
    padding-right:5% ; */
    /* overflow: hidden;   */
}


#topBar {
    width: 100vw;
    height:25vh;
    margin-top: 3vh;
    /* padding-top: 5vh;
    padding-left: 5vh; */
    display:flex;
}

#searchBar {
    width: 30%;
    height: 30%;
    margin-top:10vh;
    /* padding-left: 2%; */
    /* margin-left: 3vw; */

}


#searchText {
    width: 80%;
    height: 100%;
    
}

#changeBtn {
    width: 10%;
    height: 100%;
    /* padding-block: 0px;
    padding-inline: 0px; */
}

/* #looking {
    position: absolute;
    top:0px;
    right:0;
    width: 40%;
    height:30%;
    padding-right: 3vw;

} */

#canvas{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; */
    height: 80%;
    background-color: red;
    overflow: hidden;

}

#webglRender{
    /* grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    z-index: 2; */
    position: absolute;
    left: 2vw;
    top: 30vh;
    width:100%;
    height:100%;
}

.noScroll {
    pointer-events: none;
    transform: none;
    /* overflow: hidden;  */
}

#cssRender{
    /* grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    z-index: 2;
    pointer-events: none; */
    position: absolute;
    left: 2vw;
    top: 30vh;
    width:100%;
    height:100%;
}
